*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark{
  color:black;
}
a{
  text-decoration: none;
  color:black;
}
.pointer{
  cursor:pointer;
}
.top_nav marquee{
  font-size: 1rem;
}
.size-1{
  font-size: 1.2em;
}
header .btn{
  border-radius: 0rem;
}
header h6{
  font-size: 0.9rem;
}
.ml-1{
  margin-left: 0.9rem;
}
.mr-1{
  margin-right: 0.9rem;
}
hr{
  height: 3px;
  background-color: blue;
}
.left_article .card{
  box-shadow: none;
  border: none;
}
.right_article .card{
  box-shadow: none;
  border: none;
}